.btn__view {
  color: var(--text-color);
  background-color: var(--bg-color);
  border: none;
  outline: none;
  margin-left: 0.65rem;
}

.btn__view:hover {
  color: var(--gray-color);
}

.btn__close {
  color: var(--text-color);
  background-color: var(--bg-color);
  border: none;
  outline: none;
}

.btn__close:hover {
  color: var(--gray-color);
}

.modal__style {
  background-color: rgba(0, 0, 0, 0.7);
  text-wrap: no-wrap;
}

.modal__header {
  background-color: var(--bg-color);
  border-radius: 0;
  color: var(--text-color);
  border: 1px solid var(--gray-color);
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal__body {
  background-color: var(--bg-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--text-color);
  border: 1px solid var(--gray-color);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
