.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.bg {
  background: var(--bg-color);
}

.clicked {
  pointer-events: none;
  opacity: 0;
}

a {
  pointer-events: all;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--gray-color);
}

.text-small {
  color: var(--gray-color);
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
