:root {
  --bg-color: #111;
  --primary-color: #111;
  --gray-color: #bbb;
  --gray-muted: #222;
  --gray-scale: 1;
  --secondary-color: #fff;
  --text-color: #f9f9f9;
  --text-color-2: #fff;
  --overlay-color: rgb(12 12 12 / 63%);
}

[data-theme='light'] {
  --bg-color: #f9f9f9;
  --primary-color: #f9f9f9;
  --gray-color: #555;
  --gray-muted: #eee;
  --gray-scale: 0;
  --secondary-color: #111;
  --text-color: #111;
  --text-color-2: #111;
  --overlay-color: rgb(255 255 255 / 70%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.65em;
  color: var(--text-color);
}

body::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Marcellus;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--gray-color);
}

svg:hover {
  cursor: pointer;
  fill: var(--gray-color);
}

::selection {
  color: none;
  background: none;
}

::-moz-selection {
  color: none;
  background: none;
}

.about,
.portfolio,
.contact {
  margin-top: 55px;
  padding: 0;
  min-height: 100vh;
}

.overflow {
  overflow-y: hidden;
}
